header {
  margin: 0 !important;
}

.card-panel {
  padding: 12px !important;
  padding-bottom: 0 !important;
}

h3 {
  font-size: 1.5em !important;
}

.repoForks {
  cursor: pointer;
}

.row .col.s6 {
  padding: 10px !important;
}

.github {
  width: 120px;
  background-image: url(../img/GitHub_logo.png) !important;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 8px;
}

.progress {
  margin-top: -1.5em !important;
}