header {
    margin: 0 !important;
}

.card-panel {
    padding: 12px !important;
    padding-bottom: 0px !important;
}

h3 {
    font-size: 1.5em !important;
}

.row .col.s4 {
    height: 17em !important;
}